<div class="iframepage-container" [ngStyle]="{'background': bgColor}">
  <div class="iframe-label"><strong>{{ player === 'white' ? 'Iframe 1' :
      'Iframe 2' }}</strong></div>
  <div class="chessboard-wrapper">
    <ngx-chess-board
      #board
      [size]="320"
      [darkTileColor]="'#e94c4c'"
      [lightTileColor]="'#ecd69a'"
      [freeMode]="false"
      (moveChange)="onMove($event)"
      (checkmate)="onCheckmate()"
      (stalemate)="onStalemate()">
    </ngx-chess-board>
    <div *ngIf="disabled" class="board-overlay"></div>
  </div>
  <div *ngIf="gameOverMessage" class="restart-btn-wrapper">
    <button class="reset-btn" (click)="reset()">Create new game</button>
  </div>
</div>
